<div class="bg-[#222222] text-white">
  <div class="max-w-[1440px] mx-auto py-10 text-center lg:text-left">
    <img src="../../assets/logo.png" class="w-32 h-24 hidden lg:block" />
    <p class="font-semibold">Mailing Address: xx00 E. Union Avenue</p>
    <p class="font-semibold">Suite 1100 Denver, CO 80237</p>
    <p class="font-semibold">627 90932 +999</p>
    <p class="font-semibold">support@yourdomain.com</p>
  </div>
  <div class="bg-[#333333] py-5 text-center">
    &copy; 2022 Aspiration
  </div>
</div>
