<div class="max-w-[1440px] mx-auto">
  <!-- 1st -->
  <div class="lg:flex lg:justify-between lg:items-center lg:py-16 py-10">
    <div class="lg:w-1/2 p-5 lg:p-0">
      <p class="py-2 text-2xl text-[#F65E35]">Welcome to</p>
      <p class="font-semibold py-2 text-4xl leading-6">Business Agency</p>
      <p class="font-semibold text-4xl">With Creative Solution</p>
      <p class="lg:w-[550px] py-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
        ducimus sit. Rem facere nisi odio vitae soluta eveniet sed quas dolor
        sequi consequuntur tempore, neque provident dolores qui eos consectetur!
      </p>
      <button
        class="border-[#F65E35] border-2 bg-[#F65E35] rounded-full text-white py-3 hover:bg-white hover:text-black transform ease-in duration-200 my-6 px-12"
      >
        Learn More
      </button>
    </div>
    <div class="lg:w-1/2 p-5 lg:p-0">
      <img src="../../assets/welcome.jpeg" class="w-full" />
    </div>
  </div>
  <!-- 2nd -->
  <div class="lg:flex justify-between items-center lg:py-16 py-10">
    <div class="border rounded-lg shadow-lg p-5 m-4 lg:m-0 lg:mr-4 h-72">
      <fa-icon [icon]="faPieChart" class="text-4xl text-[#F65E35]"></fa-icon>
      <p class="text-2xl py-2 font-semibold">Market Analysis</p>
      <p>There are many variations of passages of Lorem ipsum available.</p>
      <button class="my-20 font-semibold text-[#F65E35]">Read more</button>
    </div>
    <div class="border rounded-lg shadow-lg p-5 m-4 h-72">
      <fa-icon [icon]="faChartLine" class="text-4xl text-[#F65E35]"></fa-icon>
      <p class="text-2xl py-2 font-semibold">Financial Advice</p>
      <p>There are many variations of passages of Lorem ipsum available.</p>
      <button class="my-20 font-semibold text-[#F65E35]">Read more</button>
    </div>
    <div class="border rounded-lg shadow-lg p-5 m-4 lg:m-0 lg:ml-4 h-72">
      <fa-icon [icon]="faLightbulb" class="text-4xl text-[#F65E35]"></fa-icon>
      <p class="text-2xl py-2 font-semibold">Business Solution</p>
      <p>There are many variations of passages of Lorem ipsum available.</p>
      <button class="my-20 font-semibold text-[#F65E35]">Read more</button>
    </div>
  </div>
  <!-- 3rd -->
  <div class="lg:flex justify-between items-center lg:py-16 py-10">
    <div class="lg:w-1/2 flex item-center justify-center">
      <img src="../../assets/business.jpeg" />
    </div>
    <div class="lg:w-1/2 lg:px-6 m-10 lg:m-0">
      <p class="font-semibold py-2 text-4xl lg:leading-6">We Are Here</p>
      <p class="font-semibold py-2 text-4xl lg:leading-6">
        For Business Solutions Idea
      </p>
      <p class="lg:w-[550px] py-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        labore saepe ad minus autem totam necessitatibus soluta nemo tenetur.
        Impedit sit nobis ipsa quaerat vel? Consequuntur atque harum vitae
        pariatur.
      </p>
      <ul>
        <li
          class="border-2 hover:border-[#F65E35] hover:bg-[#F65E35] hover:text-white transform ease-in duration-200 cursor-pointer rounded-md py-2 px-4 my-3"
        >
          How can I come up with a business idea?
        </li>
        <li
          class="border-2 hover:border-[#F65E35] hover:bg-[#F65E35] hover:text-white transform ease-in duration-200 cursor-pointer rounded-md py-2 px-4 my-3"
        >
          What is the best business to start for beginners?
        </li>
        <li
          class="border-2 hover:border-[#F65E35] hover:bg-[#F65E35] hover:text-white transform ease-in duration-200 cursor-pointer rounded-md py-2 px-4 my-3"
        >
          What is the perfect business to start?
        </li>
        <li
          class="border-2 hover:border-[#F65E35] hover:bg-[#F65E35] hover:text-white transform ease-in duration-200 cursor-pointer rounded-md py-2 px-4 my-3"
        >
          What is the best business to earn money?
        </li>
      </ul>
    </div>
  </div>
</div>
